.heading{
	font-size:5em;
}
.subheading {
		color: white
		padding: 50px;
		font-size: 20px;
	}
.navbar-brand {
	font-family: 'Permanent Marker', cursive;
	font-size: 28px;
}
#round-image {
	padding: 50px;
}
#maintext {
	padding: 50px;
}
footer {
	background-color: #5DBCD2;
	background-size:cover;
	min-height: 100px;
}
p {
	font-size: 18px;
	color: #454343
}

