.heading{
	font-size:5em;
}
.subheading {
		color: white
		padding: 50px;
		font-size: 20px;
	}
.navbar-brand {
	font-family: 'Permanent Marker', cursive;
	font-size: 28px;
}
#round-image {
	padding: 50px;
}
#maintext {
	padding: 50px;
}
footer {
	background-color: #5DBCD2;
	background-size:cover;
	min-height: 100px;
	color: white;
}
#maintext {
	font-size: 18px;
	color: #454343
}
#footer-text {
	font-size: 14px;
	padding: 10px 30px 10px 10px;
	text-align: right;
	color: white;
}


