.heading{
	font-size:5em;
}
.subheading {
		color: white
		padding: 50px;
		font-size: 20px;
	}
.navbar-brand {
	font-family: 'Permanent Marker', cursive;
	font-size: 28px;
}
#round-image {
	border:10px solid #5DBCD2;
	padding: 25px;
}
#maintext {
	padding: 50px;
}

