h3 {
	text-align: center;
}

.carousel-control-next-icon {
    color: black;
}

body {
/*	text-align:center;*/
	color:white;
	background-image: url(./darker_cover_unichat.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	min-height: 500px;
	padding-top: 150px;
	font-family: 'Open Sans', sans-serif;
}


.card-header {
	text-align: center;
	font-size: 30px;
}
