h3 {
	text-align: center;
}

h1 {
	text-align: center;
	font-family: 'Permanent Marker';
	font-size: 50px;
	padding: 40px;
}

#maincard{
	padding-bottom: 70px;
}

.navbar-brand {
	font-family: 'Permanent Marker', cursive;
	font-size: 28px;
}

.carousel-control-next-icon {
    color: black;
    margin: auto;
}

body {
/*	text-align:center;*/
	color:white;
	background-image: url(./darker_cover_unichat.jpg);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	min-height: 500px;
	padding-top: 150px;
	font-family: 'Open Sans', sans-serif;
}

.card{
	border-color: white;
	border-width: 5px;
	border-radius: 2%;
	text-align: center;
}


.card-header {
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	font-size: 45px;
}

ul{
	list-style: none;
}

.btn-outline-primary{
 	position:absolute;
 	top:30px;
 	left:30px;
}

.btn-primary{
	text-align: center;
	margin: auto;
	margin-bottom: 40px;
}
